#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.line {
    width: 24em;
    margin: auto;
    border-right: 7px solid rgba(255, 255, 255, 0.75);
    margin-left: -5px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.line{
    color:red;
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 10em;
    }
}

@media(max-width: 768px) {
    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 11em;
        }
    }
}

@keyframes blinkTextCussor {
    from {
        border-right-color: black;
    }

    to {
        border-right-color: transparent;
    }
}